// Base colors
$color-black: #000; // Black
$color-primary: #151414; // Main color
$color-white: #fff; // White

// Gray tones
$color-dark-gray: #333; // Dark gray
$color-charcoal-gray: #555; // Charcoal gray
$color-gray: #666; // Medium gray
$color-stone-gray: #888; // Stone gray
$color-medium-gray: #858585; // Medium gray
$color-dust-gray: #7b7b7b; // Dust gray
$color-fog-gray: #dedede; // Fog gray
$color-light-gray: #ccc; // Light gray
$color-light-gray-2: #e8e8e8; // Lighter gray
$color-search-background: #ecebeb; // Search background
$color-light-background: #f5f5f5; // Light background

// Others
$color-copper: #9E3500; // Copper
$color-emerald-green: #007D48; // Emerald green