// Base colors
$color-black: #000; // Black
$color-primary: #151414; // Main color
$color-white: #fff; // White

// Gray tones
$color-jet-black: #222; // Jet Black
$color-graphite: #1e1d1d; // Graphite
$color-dark-gray: #333; // Dark Gray
$color-onyx-gray: #343434; // Onyx Gray
$color-charcoal-gray: #555; // Charcoal Gray
$color-gray: #666; // Medium Gray
$color-dust-gray: #7b7b7b; // Dust Gray
$color-medium-gray: #858585; // Medium Gray
$color-slate-gray: #8d8d8d; // Slate Gray
$color-stone-gray: #888; // Stone Gray
$color-pale-gray: #cacaca; // Pale Gray
$color-light-gray: #ccc; // Light Gray
$color-silver-gray: #D0D0D0; // Silver Gray
$color-fog-gray: #dedede; // Fog Gray
$color-soft-gray: #e5e5e5; // Soft Gray
$color-light-gray-2: #e8e8e8; // Lighter Gray
$color-search-background: #ecebeb; // Search Background
$color-light-background: #f5f5f5; // Light Background

// Others
$color-copper: #9E3500; // Copper
$color-red: #fc0303; // Red Color
$color-emerald-green: #007D48; // Emerald Green
$color-spring-green: #4caf50 //Spring Green